<h5 class="mb-3">Research on Knowing</h5>

<p>The website you are viewing shares some of work from Research on Knowing. To learn more about this and our other projects click</p>

<a target="_blank" href="https://www.researchonknowing.com/" class="btn btn-warning d-block mb-2"><i class="fa fa-laptop"></i> Research on Knowing</a>

<p>You can help support this work by donating</p>

<a target="_blank" class="btn btn-danger d-block" href="https://www.paypal.com/donate/?hosted_button_id=7VFRHTLFPN79Y"><i class="fa fa-coffee"></i> Buy Me a Chai</a> 